.git/
gradle
homeScreen/build
homeScreen/app/build
homeScreen/local.properties
homeScreen/.idea/*
homeScreen/.idea
homeScreen/app/src/main/gen/
.idea
.idea/*
.gradle
homeScreen/.gradle
homeScreen/.gradle/*
homeScreen/app/src/androidTest/
homeScreen/app/src/test/
homeScreen/local.properties.txt